/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap'); */

*, *:focus, button:focus {
    outline: 0;
}

.form-control:focus {
    box-shadow: none !important;
}
.form-group label sup{
	color: red;
}
.header_top .form-control{
    padding:10px 20px 10px 10px; 
}
.dropdown-menu {
    padding:0;
}
.pl-lg-0 img{
    height:100%;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    color: #000;
}

a,
a:hover {
    text-decoration: none;
}

a:hover,
.news_home a:hover h5 {
    color: #004EAF;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* HEADER */

.header_top {
    background: #004EAF;
}

.header_logo {
    background: #fff url('../img/banner/background-header.png') center center no-repeat;
    background-size: cover;
    padding: 20px 0;
}

.header_menu {
    background: #fff;
    border-top: 1px solid #eaeaea;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.header_top .navbar {
    padding: 0;
}

.header_top .form-control {
    height: 30px;
    font-size: 12px;
}

.header_top .form-inline {
    position: relative;
}

.header_top .form-inline::after{
    content: "\f002";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    right: 0;
    padding: 5px;
    color: #004EAF;
}

.header_top .nav-link {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.header_top .navbar-toggler-icon {
    color: #fff;
    padding: 5px;
}

/* MENU */

.main-menu {
    position: relative;
}

.main-menu nav ul {
    margin-bottom: 0;
    list-style: none;
}

.main-menu nav>ul {
    padding: 0;
}

.main-menu nav>ul>li {
    position: relative;
    display: inline-block;
}

.main-menu nav>ul>.has-dropdown {
    margin-right: 5px;
}

.main-menu nav>ul>.has-dropdown:last-child {
    margin-right: 0;
}
.col-lg-3 .list-group .list-group-item:hover,
.sub-menu>li:hover, 
.dropdown-item:focus, .dropdown-item:hover,
.main-menu nav>ul>li:hover{
    background:#bae5ff;
}
.main-menu nav>ul>li>a {
    display: block;
    padding: 10px 10px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 700;
    color: #004498;
}
.sub-menu>li{
    border-bottom:1px solid #f9f9f9;
    width:100%;
    padding-left: 10px;
}
.sub-menu>li:last-child{
    border-bottom:0px;
}
.sub-menu>li>a{
    font-weight: 400;
    display: block;
    padding: 10px 10px;
    line-height: 20px;
    text-transform: capitalize;
    color: #666;
    position: relative;
    transition: all 0.3s ease 0s;
}
.mega-menu-sub>li>a {
    font-weight: 400;
    display: block;
    line-height: 35px;
    text-transform: capitalize;
    color: #666;
    position: relative;
    transition: all 0.3s ease 0s;
}

.sub-menu>li>a::after,
.mega-menu-sub>li>a::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translate(0px, -50%);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #004498;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.sub-menu>li>a:hover,
.mega-menu-sub>li>a:hover {
    color: #004498;
    transform: translateX(10px);
}

.sub-menu>li>a:hover::after,
.mega-menu-sub>li>a:hover::after {
    transform: translate(-10px, -50%);
    visibility: visible;
    opacity: 1;
}

.sub-menu {
    position: absolute;
    min-width: 230px;
    /* padding: 5px 10px; */
    background: #FFF;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    transform: perspective(600px) rotateX(-20deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 99;
    top: 100%;
    text-align: left;
}

.main-menu nav>ul>li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}

.mobile-header-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #004EAF;
    border-top: 1px solid #6A9FE0;
}

.mobile-menu {
    padding: 5px;
    display: block;
}

.mobile-menu-dash {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.offcanvas {
    z-index: 999999;
    position: fixed;
    top: 0;
    overflow: auto;
    height: 100vh;
    /* padding: 20px; */
    transition: all 0.3s ease 0s;
    transform: translateX(100%);
    box-shadow: none;
    background: #004eaf;
    color: #eaeaea;
    width: 300px;
    overflow-x: hidden;
    box-shadow: 0 3.4px 2.7px rgb(0 0 0 / 1%), 0 8.7px 6.9px rgb(0 0 0 / 1%), 0 17.7px 14.2px rgb(0 0 0 / 1%), 0 36.5px 29.2px rgb(0 0 0 / 1%), 0 100px 80px rgb(0 0 0 / 2%);
}

.offcanvas-leftside {
    left: 0%;
    transform: translateX(-100%);
}

.offcanvas-rightside {
    right: 0%;
    transform: translateX(100%);
}

.offcanvas.offcanvas-open {
    transform: translateX(0);
}

.offcanvas-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.offcanvas-close {
    width: 33px;
    height: 33px;
    text-align: center;
    border-radius: 5%;
    transition: all 0.3s ease 0s;
    color: #fff;
    background: #013575;
    border: none;
}

.offcanvas-close:hover {
    color: #261146;
    border-color: #261146;
}

.offcanvas-title {
    margin-bottom: 40px;
}

.offcanvas-menu {
    margin: 20px 0;
}

.offcanvas-menu li {
    position: relative;
    border-top: 1px solid #0958bb;
    /* padding: 10px 0; */
    padding: 0 10px;
}

.offcanvas-menu>ul>li {
    /* border-bottom: 1px solid #0958bb; */
    padding: 0px 15px;
}

.offcanvas-menu>ul>li:last-child {
    border-bottom: none;
}

.offcanvas-menu li a {
    display: block;
    color: #eaeaea;
    text-decoration: none;
    padding: 10px 0px;
}

.offcanvas-menu li a:hover {
    color: #ddd;
}

.offcanvas-menu li .mobile-sub-menu {
    display: none;
    /* padding-left: 15px; */
    border-right: 1px solid #005fd6;
    border-left: 1px solid #005fd6;
}

.offcanvas-menu-expand::after {
    content: "\f067";
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    right: 12px;
    top: 12px;
    transition: all 0.3s ease;
    color: #fff;
}

.offcanvas-menu .active>.offcanvas-menu-expand:last-child,
.sub-menu>.active .offcanvas-menu-expand:last-child {
    border-bottom: none;
}

.offcanvas-menu .active>.offcanvas-menu-expand::after,
.sub-menu>.active .offcanvas-menu-expand::after {
    color: #fff;
    content:"ï¨"; 
}

/* HOME */

.slide_home .item {
    height: 500px;
    position: relative;
}

.slide_home .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide_home .item .cover {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.slide_home .item .cover .header-content {
    position: relative;
    padding: 26px 45px;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
}

.slide_home .item .cover .header-content h4 {
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    margin: 0;
}

.slide_home .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}

.utility_menu {
    background: url('../img/background/background-1.png') center center no-repeat;
    background-size: cover;
    padding: 10px 0;
}

.utility_menu .card {
    text-align: center;
    background: transparent;
    border-radius: 0;
    border-width: 0 0 0 1px;
    border-color: #C4C4C4;
}

.utility_menu .card:first-child {
    border-left-width: 0;
}

.utility_menu .card img {
    width: auto;
    height: 70px;
    object-fit: cover;
    margin: auto;
}

.utility_menu .card h4 {
    font-size: 1.2em;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    margin: 10px 0 0;
}

.hot_news {
    background: #004498;
    padding: 5px 0;
}

.hot_news .sitewidth {
    display: flex;
    flex-flow: row;
}

.hot_news marquee {
    height: 36px;
    line-height: 36px;
}

.hot_news .br-title {
    padding: 6px 20px;
    color: #FFF;
    height: 36px;
    background: #E3393C;
    border-radius: 30px;
    width: 200px;
}

.hot_news .sitewidth ul {
    margin: 0;
}

.hot_news .sitewidth ul li {
    list-style: none;
    font-weight: 500;
    font-size: 1em;
    margin-right: 50px;
    display: inline-block;
}

.hot_news .sitewidth ul li a {
    color: #fff;
}

.news_home {
    padding: 15px 0;
}

.news_home .nav-pills {
    background: #004EAF;
    padding: 0 5px;
}

.news_home .nav-pills .nav-link {
    color: #fff;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.news_home .tab-content {
    border-width: 0 1px 1px 1px;
    border-color: #eaeaea;
    border-style: solid;
    padding: 15px;
}

.news_home .item {
    margin-bottom: 20px;
}

.news_home .item img {
    width: 100%;
}

.news_home .content.col-12 {
    margin-top: 10px;
}

.news_home .card {
    border-radius: 0;
}

.news_home .card-header {
    background: #004EAF;
    border-radius: 0;
    color: #fff;
    border-left: 4px solid #004498;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.thongtintuyensinh {
    background: #FFFFFF;
    border: 4px solid #DDDDDD;
    padding: 10px;
}

.thongtintuyensinh li {
    background: #FE6712;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    border: 0;
    border-bottom: 4px solid #fff;
    padding: 29px 10px;
}

.links {
    background: #F2F2F2;
    padding: 30px 0;
}

.links .card {
    background: url('../img/background/BG-TRONGDONG.png') center no-repeat;
    height: 100%;
    background-size: cover;
}

.links .card a {
    height: 100%;
}

.links .content {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.section_title {
    font-size: 1.4em;
    font-weight: 700;
    color: #004EAF;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}

.nganh_daotao {
    background: #ddd;
    padding: 15px 0;
}

.nganh_daotao .nav-pills {
    flex-wrap: nowrap;
}

.nganh_daotao .nav-pills li {
    width: 100%;
}

.nganh_daotao .nav-pills li a {
    color: #000;
    text-align: center;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.nganh_daotao .nav-pills .nav-link.active,
.nganh_daotao .nav-pills .show>.nav-link {
    color: #004EAF;
    background-color: transparent;
    border-color: #004EAF;
}

.nganh_daotao .item .card-body {
    background: url('../img/background/BG-TRONGDONG.png') center center no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.nganh_daotao .item .card-body h5 {
    margin-bottom: 0;
    color: #fff;
}

.nganh_daotao .item .card-footer {
    background: #004EAF;
}

.nganh_daotao .item .card-footer a {
    display: block;
    text-align: center;
    color: #fff;
    position: relative;
}

.nganh_daotao .item .card-footer a i {
    position: absolute;
    right: 0;
    top: 4px;
}

.media_home {
    padding: 15px 0;
}

.media_list .nav {
    border: 1px solid #004EAF;
    max-width: 400px;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #fff;
}

.media_list .nav li {
    width: 50%;
    text-align: center;
    border-right: 1px solid #ddd;
}

.media_list .nav li:last-child {
    border-right: 0;
}

.media_list .nav-pills .nav-link {
    color: #000;
    text-transform: uppercase;
}

.media_list .nav-pills .nav-link.active,
.media_list .nav-pills .show>.nav-link {
    color: #004EAF;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
}

.media_list .tab-content {
    border: 1px solid #ddd;
    padding: 60px 30px 0;
    position: relative;
    top: -22px;
    border-top-color: #004EAF;
}

.media_list .card {
    border: none;
}

.media_list .card .card-body {
    padding-left: 0;
    padding-right: 0;
}

.copyright {
    background: #004498;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    color: #fff;
    padding: 15px 0;
}

.footer_info {
    background: #004EAF;
    color: #fff;
}
.footer_info .col-lg-3{
    border-right:1px solid rgba(255,255,255,0.2)
}
.footer_info .col-lg-3:nth-child(4){
    border-right:0px solid rgba(255,255,255,0.2)
}
.footer_logo .container{
    border-top:1px solid rgba(255,255,255,0.2);
    padding-top:20px;
    padding-bottom: 20px;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 300;
}
.footer_info .footer_links,
.footer_info .footer_logo {
    padding-top: 20px;
}

.footer_info .footer_links .footer_head {
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_info .footer_links a {
    color: #fff;
    font-size: 0.9em;
    font-weight: 300;
    display: block;
    margin-bottom: 8px;
}
.footer_info .list-inline-item i{
    width: 44px;
    font-size: 1.6em;
    padding: 9px;
    border-radius: 60px;
    border: 1px solid #fff;
    text-align: center;
    height: 44px;
}
.footer_khoa {
    background: url("../img/background/bg-2.png") center  center no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_khoa .social i {
    color: #004eaf;
}

/* Page Content */

.breadcrumb {
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb .breadcrumb-item {
    text-transform: uppercase;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
}

.page-link {
    border-color: transparent;
    color: #000;
}

.page-item.active .page-link {
    color: #004EAF;
    background-color: transparent;
    border-color: #004EAF;
}

.page_content .nav-pills .nav-link.active,.page_content .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #004EAF;
}

.breadcrumb-item.active {
    color: #004EAF;
}

.title_content {
    font-weight: 700;
    font-size: 28px;
}

.page_title {
    font-weight: 700;
    font-size: 20px;
    color: #004EAF;
}

.box_aside {
    background: #F9F9F9;
    border: 1px solid #EAEAEA;
}

.box_aside h6{
    background: #E5EAF3;
    color: #000;
    font-weight: 700;
}

.box_default {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.form_login {
    max-width: 560px;
}

.form-control,
.btn,
.input-group-text {
    border-radius: 0;
}

.btn-primary {
    background-color: #004EAF;
    border-color: #004EAF;
}

.btn-danger {
    background-color: #E3393C;
    border-color: #E3393C;
}

.btn-secondary {
    color: #000;
    background-color: #F3F1F1;
    border-color: #dddddd;
}

.btn-light {
    color: #31B70F;
}

.list-group-item.active {
    background-color: #004EAF;
    border-color: #004EAF;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.thead-bg {
    background: #004EAF;
    color: #fff;
}

.search_adv .btn-primary {
    width: 120px;
}

.search_adv .btn_search {
    position: absolute;
    right: 120px;
    z-index: 3;
}

.results_search span {
    color: #004eaf;
    font-size: 22px;
    font-weight: 700;
}

.card-text {
    font-weight: 700;
}

.bg-gray {
    background: #EBEBEB;
}

h2.display-5 {
    font-size: 28px;
    font-weight: 700;
    color: #004EAF;
}

.nav_contact {
    background: #EBEBEB;
}

.nav_contact .nav-item {
    width: 50%;
}

.nav_contact .nav-link {
    border-radius: 0;
    text-align: center;
}

.tab-content_contact {
    background: #EBEBEB;
    padding: 50px;
}

/* Khoa */

.khoa_daotao {
    background: linear-gradient(261.43deg, #004EAF 16.2%, #02408D 88.39%);
    padding-top: 30px;
    padding-bottom: 30px;
}

.khoa_daotao .section_title {
    color: #fff;
}

.khoa_daotao .item .card-body {
    background: url("../img/background/bg-khoa.png") center center no-repeat;
}

.khoa_daotao .item .card-body h5 {
    color: #000;
}

.khoa_daotao .item .card-footer {
    background: #EB0000;
}

.news__home {
    padding-top: 30px;
    padding-bottom: 30px;
}

.news__home .card-body {
    padding-left: 0;
    padding-right: 0;
}

.news__home .card {
    border: 0;
}

.news__home .card-header {
    background: transparent;
    color: #004eaf;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 991px) {
    .header_top .nav-link {
        color: #fff;
        font-size: 12px;
        margin-right: -1px;
        border-right: 1px solid rgba(255,255,255,0.07);
        border-left: 1px solid rgba(255,255,255,0.1);
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 1200px) {
    .links .card {
        height: calc(100% - 30px);
        margin-bottom: 30px;
    }
    .footer_links .row>div {
        border-bottom: 1px solid rgba(255,255,255,0.2);
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 992px) {

    .hot_news .br-title {
        width: 250px;
        text-align: center;
    }

    .banner_home a {
        display: block;
        margin-bottom: 30px;
    }
    .footer_logo .container{
        border-top: 0px solid rgba(255,255,255,0.2);
        
    }
    .footer_links .row>div {
        border-bottom: 1px solid rgba(255,255,255,0.2);
        margin-bottom: 0px;
    }

    .footer_logo .logo {
        display: block;
        margin-bottom: 30px;
    }

    .thongtintuyensinh {
        margin-top: 30px;
    }

    .footer_info .col-lg-3 {
        border-right: none;
    }

    .header_top_mobile {
        width: 70%;
    }

    .header_top_mobile .btn {
        color: #fff;
    }

    .header_top_mobile .nav-item {
        width: 100%;
    }

    .header_top_mobile .form-inline {
        position: absolute;
        width: 100%;
        z-index: 99;
        right: 0px;
        top: 30px;
    }

    .mobile-logo-link img {
        height: 40px;
    }

    .header_top .nav-link {
        margin-top: 4px;
        display: inline-flex;
        align-items: center;
    }

}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 500px) {
    .hot_news .br-title {
        display: none;
    }
}

.item_tieude {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 160%;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.item_date_time {
    font-size: 13px;
    color: #666;
}

.img-cover {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;
    background: #f4f4f4;
    padding-bottom: 60%;
}

.img-cover img {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}